/*body{
	background-color: red;
}*/
body{
	background-color: #DADDD8;

}


.navbar{
	min-height: 70px;
	padding: 10px 15px;
  	height: 70px;
  	line-height: 70px;
  	background-color: #ACAFAE;
  	margin-bottom: 0;
  	border: none;
}

.navbar-default .navbar-nav>li>a{
	color: white;

}

.navbar-default .navbar-brand{

}

.articleDivEmpty{
	text-align: center;
}


.jumbotron{
	
	background-image: url("../images/denny-muller-534086-unsplash.jpg");
	background-size: cover;
	min-height: 500px;
	margin-top: -10;
	border: solid 5px;
	color: white;
	border-color:#2F3232;
}

.container{
	text-align: center;
}

.articleDiv{
	position: relative;
}
#save{

	position:absolute;
	margin:auto;
	right:15px;
	top:30%;

}

.btn-primary.delete{
	margin:5px;
	position:absolute;
	right:15px;
	top:30%;
}

.btn-primary.note{
	margin:5px;
	position:absolute;
	right:170px;
	top:30%;
}

#noteModalLabel{
	font-size: 30px;
}

.modal-header{
	padding-bottom: 0px;
}

.noteDiv{
	background-color:white;
	position: relative;
}

#noteDelete{
	position: absolute;
	margin:auto;
	right:15px;
	top:30%;
	background-color: red;
	color: white;
}

.noNoteDiv{
	text-align: center;
	background-color: white;
}



